[submodule "SmartHomeSecurity"]
	path = SmartHomeSecurity
	url = https://github.com/youssef456/SmartHomeSecurity.git
[submodule "tree/main/Drivers"]
	path = tree/main/Drivers
	url = https://github.com/karim029/ATmega32
